# Dependencies
node_modules/
**/node_modules/
**/node_modules/**

# Production output
dist/
**/dist/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env
**/.env
.env.local
.env.*.local

# OS & Editor files
.DS_Store
.vscode/
.idea/
